/* *{
  margin: 0;
  padding: 0;
} */
html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
  /* background-image: url("bg.jpg"); */

}
.background{
  width: 100%;
  height: 100%;
  background-image: url("DSC00339.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}
.nav{
    width: 350px;
    height:auto;
    position:absolute;
    top:20%;
    left:0;
}

.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family: verdana;
    font-weight: bold;
    width: 90%;
    height:90px;
    margin:5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color:white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}

a.active, .nav a:hover{
    background-color: white;
    color:black;
    width: 100%;
}
.a{
  width: 95%
}
.b{
  width: 85%;
}
.c{
  width: 80%;
}
.d{
  width: 90%;
}
.content{
  position: absolute;
  width: 860px;
  min-height: 520px;
  height:auto;
  //background-color: #5d6d7e;
  right: 0;
  top:7%;
}
.home{
  position: absolute;
  right: 0;
  bottom: 0;
  color:white;
  font-family: verdana;
  text-transform: uppercase;
}

.home h1{
  font-size: 70px;
  padding-right:50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 2px solid white;
}

.home h3{
  font-size: 27px;
  padding-top: 0px
  margin: 0px;
  padding: 1px 0;
  opacity: 0.85;
  //color:#7f8c8d;

}

.padding{
  margin: 0px;
  padding: 0px;
}

.aboutme{
  position: absolute;
  right:0;
  top: 10px;
  color:white;
  font-family: verdana;
  padding: 0 60px
}

.aboutme p{

}
